#!/bin/bash

/usr/local/rvm/bin/rvm install 2.1-head
/usr/local/rvm/bin/rvm alias create default ruby-2.1-head

sudo chown -R vagrant /usr/local/rvm

cd /var/www/BlueBerry && bundle

# sudo su
# sudo -u postgres psql
# \password postgres
# create database blueberryh